<div class="col-12 row ">
    <div class="page__section col-12">
        <nav class="breadcrumb breadcrumb_type5" aria-label="Breadcrumb">
          <ol class="breadcrumb__list r-list">
            <li class="breadcrumb__group">
              <a href="#0" class="breadcrumb__point r-link"><h4>Fichier</h4></a>
              <span class="breadcrumb__divider" aria-hidden="true"><h4>›</h4></span>
            </li>
            <li class="breadcrumb__group">
              <a href="#0" class="breadcrumb__point r-link"><h4>Liste</h4></a>
            </li>
          </ol>
        </nav>
      </div>
</div>
<div class="col-12 row justify-content-center"><a href="/File/add"><i class="fas fa-plus-circle fa-2x grow" style="color: #2155af;"></i></a> </div>
<div class="col-12 row justify-content-center mt-4">

  <table class="table table-bordered col-8 box">
    <thead class="thead-dark text-center">
        <tr>
            <th class="text-capitalize">Fichier</th>
            <th class="text-capitalize">Departement</th>
            <th class="col-3 text-capitalize">Action</th>
        </tr>
    </thead>
    <tbody class=" text-center">

      <% Files.forEach(function(file){ %>
        <tr>
          <td><%= file.file_name %></td>
          <td><%= file.Dept.dept_name %></td>
         <td> <div class="d-flex flex-row justify-content-center"><a href="<%= file.url %>" download="<%= file.file_name %>"><i class="fas fa-download mr-3 grow" style="color: limegreen;"></i></a><form method="POST" action="/file/delete/<%= file.id %>"><button type="submit" class="mr-2"><i  class="fas fa-trash fa-1x  grow mr-2" style="color: #d32323;"></i></button></form> <a href="/File/update/<%= file.id %>" ><i class="far fa-edit fa-1x grow" style="color: #15AABF;"></i> </a>
         </div></td>
        </tr>
      <% }); %>
     
    </tbody>
</table>

</div>